nav { text-align: left;
background-color: #360031;}
nav ul li { display: inline-block; }
.nav_item {
	padding: 0px 0px;
	display: inline-block;
}

.dropbtn {
    background-color: #360031;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1F001E;
}

.buttons {padding: 0px;}

section { padding: 5px; }

.sectionOne {
    padding-bottom: 1em;
height: 118vh;	
text-align: center;
    
 background-image: url(../images/mountains.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.sectionTwo {
    padding-top: -1em;
    padding-bottom: -1em;
     height: 125vh;	
	text-align: center;
    background-color: #360031;
 background-image: url(../images/bush.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.sectionThree {
    padding-top: 5em;
    padding-bottom: 2em;
    height: 120vh;
	text-align: center;
    background-color: #360031;
    background-image: url(../images/trees2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

	
.sectionFour {
    padding-top: 5em;
    padding-bottom: 3em;
       height: 160vh;	
	text-align: center;
    background-color: #360031;
 background-image: url(../images/bush2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
    
	
.sectionFive {
	text-align: center;
      padding-top: 5em;
    padding-bottom: 3em;
       height: 133vh;	
	text-align: center;
    background-color: #08504C;
 background-image: url(../images/bird.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
	
.sectionSix {
       height: 125vh;	
	text-align: center;
        padding-top: -2em;
    padding-bottom: -3em;
	text-align: center;
    background-color: #360031;
 background-image: url(../images/bush.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
	
.sectionSeven {
        height: 173vh;	
	text-align: center;
    background-color: #360031;
    background-image: url(../images/grass3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
	
.sectionEight {
    height: 118vh;	
text-align: center;
background-image: url(../images/trees.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.sectionNine {
	height: 49vh;	
	text-align: center;
    background-color: #360031;
    background-image: url(../images/grass4.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.sectionTen {
	height: 30vh;	
	text-align: center;
    background-color: #360031;
    background-image: url(../images/grass2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.left {float: left;}
.right {float: right;}

h1 {
    position:relative;
    color: #1F001E;
    left: 0;
    top: 3%;
    width: 100%;
    text-align:center;
    font-size: 50px;
    padding: 0px 0px;
    font-family: 'Kranky', cursive;
}

h2 {
    position:relative;
    color: #cc5e6c;
    left: 0;
    top: 3%;
    width: 100%;
    text-align:center;
    font-size: 40px;
    padding: 50px 5px 10px 5px;
    font-family: 'Kranky', cursive;
}

i { text-align: center;
    font-family: 'Pompiere', cursive;
    color: #cc5e6c;
    padding-bottom: 5em;
}

.one 
       {
    padding: 12em 10em 2em 10em;
    text-align: center;
margin: 0;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 25px;
}
           
.two
           {padding: 5em 10em 2em 10em;
    text-align: center;
margin: 0;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 25px;}

.three
           {padding: 6em 10em 2em 10em;
    text-align: center;
margin: 0;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 15px;}

.four
           {padding: 4em 9em 2em 8em;
    text-align: center;
margin: 0;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 25px;}

.five
           {padding: 1em 9em 2em 8em;
    text-align: center;
margin: 0;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 25px;}
.six
{padding: -1em 6em 2em 5em;
    text-align: center;
margin: 0;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 15px;}

.seven
           {padding: 4em 9em 2em 8em;
    text-align: center;
margin: 0;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 25px;}

.eight
           {padding: 5em 10em 2em 10em;
    text-align: center;
margin: 0;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 25px;}

.nine
           {padding: 5em 10em 2em 10em;
    text-align: center;
margin: 0;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 10px;}

.grass4 {
    padding-top: 20em;
}


///////images///////



////////table////////
    table{
    border-collapse: collapse;
    width: 100%;
        padding: 8em 10em 2em 10em;
    text-align: center;
    color: #fff;
    font-family: 'Pompiere', cursive;
    font-size: 25px
}

th, td {
    padding: 8px;
    text-align: centre centre;
    border-bottom: 1px solid #ddd;
}

  #map {
        height: 40%;
      width: 35%;
      position: absolute;
      float: right;
      padding-left: 6em;
      padding-right: 2em;
      margin-bottom: 3em;
      margin-left: 20em;
      margin-top: 3em;
      
      }

.map {
    height: 70%;
    width: 70%;
    padding-top: -10em;
    padding-bottom: 12em;
    padding-right: 10em;
    margin-right: 10em;
    margin-left: 7.5em;
    margin-top: -18em;
    
    
}